.music_window {
  min-width: 450px;
  height: 750px;
  background-color: whitesmoke;
  border-radius: 30px;

  margin: 20px;
  padding: 30px;
}

.info_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info_text span:first-child {
  margin-bottom: 10px;
}
.info_text span:nth-child(2) {
  margin-bottom: 30px;
}
