.mini_controller {
  margin: 0 30px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 25px;
  border-radius: 20px;
  background-color: #2d3436;
}

.mini_controller div {
  margin: 0 15px;
}

.mini_controller .now_music__info {
  display: flex;
  flex-direction: column;
}

.mini_controller .now_music__info span {
  color: whitesmoke;
}

.mini_controller .now_music__info span:first-child {
  font-size: 9px;
  opacity: 0.7;
}

.mini_controller .controller__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100px;
  height: auto;
}

.mini_controller .controller__btn i {
  color: whitesmoke;
}

.left_animation {
  transform: rotate(180deg);
}

.left_animation:active {
  transform: scale(0.6) rotate(180deg);
}

.fa-arrow-left:hover,
.fa-search:hover,
.fa-ellipsis-v:hover,
.shuffle_btn:hover,
.like_btn:hover,
.left_animation:hover,
.pause_animation:hover,
.right_animation:hover,
.play_animation:hover,
.shuffle_animation:hover,
.random_animation:hover {
  cursor: pointer;
}

.pause_animation:active,
.right_animation:active,
.play_animation:active,
.shuffle_animation:active,
.random_animation:active {
  transform: scale(0.6);
}
