.main {
  background-color: whitesmoke;
}
.container {
  margin-bottom: 10px;
  padding: 20px;
}

.container__title,
.info__title {
  font-weight: 600;
}

.container__title {
  font-size: 24px;
}

.container__book {
  display: flex;
}

.info__title {
  font-size: 18px;
}
