.main {
  background-color: whitesmoke;
}
.container {
  padding: 20px;
}

.container__title,
.info__title {
  font-weight: 600;
}

.container__title {
  font-size: 24px;
  margin: 50px 0 20px;
}

.container__book {
  display: flex;
}

.container__book img {
  margin-right: 20px;
}

.info__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.info__category {
}
